<!-- <p>products works!</p>
<button (click)="saveData()">Save Data</button>

<button (click)="newSaveData()">New Save Data</button>

<button (click)="saveUser()">Save User</button>


<form [formGroup]="employeeForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Company Detail</label>
    <input type="email" class="form-control" formControlName="empname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="emppassword">
  </div>
 
  <button type="submit" class="btn btn-primary" (click)="saveEmpForm(employeeForm.value)">Submit</button>
</form> -->

<!-- <form [formGroup]="studentForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Company Detail</label>
    <input type="email" class="form-control" formControlName="studentname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="studentpassword">
  </div>
 
  <button type="submit" class="btn btn-primary" (click)="saveStudentForm(studentForm.value)">Submit</button>
</form>

<button (click)="fetchStudent()">Fetch Student</button>

<table>
  <tr *ngFor="let product of showProducts;let i = index">
    <td>
      {{product.product_name}}
    </td>
    <td>
      {{product.product_price}}
    </td>
    <td>
      {{product.product_size}}
    </td>
  </tr>
</table> -->

<!-- 
<form [formGroup]="userForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
    </div>
   
    <button type="submit" class="btn btn-primary" (click)="saveForm(userForm.value)">Submit</button>
  </form> 
  <button (click)="fetchUserInfo()">fetch</button>
  <div>Name:{{username}}</div>
  <div>Password:{{password}}</div> -->



  <form [formGroup]="documentForm">
    <div class="form-group">
      <div class="form-group">
        <label for="exampleInputPassword1">Document Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="docName">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Document Type</label>
      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="doctype">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Document Number</label>
      <input type="text" class="form-control" id="exampleInputPassword1"  formControlName="docnumber">
    </div>
    <button type="submit" class="btn btn-primary" (click)="saveDocumentForm(documentForm.value)">Submit</button>
  </form>
  
  <button (click)="fetchDocument()">Fetch Documents</button>
  <button (click)="updateDocument(documentForm.value)">Update Document</button>



  <table>
    <tr *ngFor="let document of showDocuments;let i=index" >
      <td>{{document.doc_name}}</td>
      <td>{{document.doc_type}}</td>
      <td>{{document.doc_number}}</td>
      <td><button (click)="editDetail(document)">Edit</button></td>
      <td><button (click)="deleteDoc(document)">Delete</button></td>

    </tr>
  </table>