<div class="row">
    <div class="col-12">
        <div class="product-info">
            <div class="nav-main">
                <!-- Tab Nav -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" (click)="active_link(1,'man')" role="tab">Man</a></li>
                    <li class="nav-item" id="woman"><a class="nav-link" data-toggle="tab" (click)="active_link(2,'woman')" role="tab">Woman</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" (click)="active_link(3,'kids')"role="tab">Kids</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" (click)="active_link(4,'accessories')" role="tab">Accessories</a></li>
                    <!-- <li class="nav-item" (click)="active_link(5,'kids')"><a class="nav-link" data-toggle="tab" href="#essential" role="tab">Essential</a></li>
                    <li class="nav-item" (click)="active_link(6,'kids')"><a class="nav-link" data-toggle="tab" href="#prices" role="tab">Prices</a></li> -->
                </ul>
                <!--/ End Tab Nav -->
            </div>
            <div class="tab-content" id="myTabContent">
                <!-- Start Single Tab -->
                <div class="tab-pane fade show active" id="man" role="tabpanel">
                    <div class="tab-single">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-12" *ngFor="let product of showProductofType;let i = index">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="product-details.html">
                                            <img class="default-img" src="{{product.image}}" alt="#">
                                            <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                        </a>
                                        <div class="button-head">
                                            <div class="product-action">
                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                            </div>
                                            <div class="product-action-2">
                                                <a title="Add to cart" href="#">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details.html">{{product.name}}</a></h3>
                                        <div class="product-price">
                                            <span>{{product.price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!--/ End Single Tab -->
            
            </div>
        </div>
    </div>
</div>